@import './variables.scss';
@import './mixin.scss';
@import './element-ui.scss';

body {
  color: #2c3e50;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
ul,li{
  margin:0;
  padding:0;
  list-style: none;
}

a{
  text-decoration: none;
}

.content-box{
  width:$contentWidth;
  margin:0 auto;
}

.container{
  min-width:$contentWidth;
}

.border-radius{
  border:1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
  border-radius: 6px;
}

// 设置svg父元素的字体大小，svg icon 宽高为1em
.icon-base{
  font-size:24px;
}

//超过一行则显示省略号
.text1-overflow{
  width:100%;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

//超过两行则省略
.text2-overflow{
	width:200px;
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
}

.minisize-p {
  margin: 0;
  font-size: 12px;
  padding: 4px 0;
}

.minisize-h{
  font-size: 14px;
  padding: 4px 0;
}

.text-center{
  text-align: center;
}

.popinform-wrap{
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
}